@import 'App.scss';

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    // flex-direction: column-reverse;
}


.field {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  &__part {
      background-color: rgb(20, 95, 20);
      margin: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      min-width: 200px;
      min-height: 200px;
      width: 45%;
      box-sizing: border-box;
      .cow {
          height: 140px;
          width: 140px;
          border-radius: 50%;
          border: 4px dotted rgb(213, 43, 43);
          margin: 10px;
      }
      .sheep {
          height: 140px;
          width: 140px;
          border: 4px dotted rgb(251, 251, 251);
          margin: 10px;
      }
      .horse {
          height: 100px;
          width: 100px;
          border: 4px dotted rgb(54, 52, 54);
          margin: 30px;
          transform: rotate(45deg);
      }
  }
}

.buttons-holder {
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}